## **Limpieza de datos**

In [ ]:
#En estas variables los valores cero no son validos en el ambito medico
#Por esta razon se remplazan por NaN para poder eliminar estos registros
temp=diabetes[['Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']].where(diabetes!=0, np.nan)

In [ ]:
diabetes=pd.concat([temp,diabetes[['Pregnancies','Outcome']]],axis=1)

In [ ]:
diabetes.isnull().sum()

Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Pregnancies                   0
Outcome                       0
dtype: int64

In [ ]:
diabetes=diabetes.dropna()
diabetes.describe()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Pregnancies,Outcome
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,122.627551,70.663265,29.145408,156.056122,33.086224,0.523046,30.864796,3.301020,0.331633
std,30.860781,12.496092,10.516424,118.841690,7.027659,0.345488,10.200777,3.211424,0.471401
min,56.000000,24.000000,7.000000,14.000000,18.200000,0.085000,21.000000,0.000000,0.000000
25%,99.000000,62.000000,21.000000,76.750000,28.400000,0.269750,23.000000,1.000000,0.000000
50%,119.000000,70.000000,29.000000,125.500000,33.200000,0.449500,27.000000,2.000000,0.000000
75%,143.000000,78.000000,37.000000,190.000000,37.100000,0.687000,36.000000,5.000000,1.000000
max,198.000000,110.000000,63.000000,846.000000,67.100000,2.420000,81.000000,17.000000,1.000000

In [ ]:
diabetes = diabetes.reset_index()
diabetes.drop(columns=['index'],inplace=True)